<f:layout name="Default"/>

<f:section name="Main">

	<div class="qx-panorama--inner">
		<div class="qx-panorama--mountain"></div>
		<div class="qx-panorama--sun"></div>
		<div class="qx-panorama--cloud" id="qx-panorama--cloud-1"></div>
		<div class="qx-panorama--cloud" id="qx-panorama--cloud-2"></div>
		<div class="qx-panorama--cloud" id="qx-panorama--cloud-3"></div>

		<div class="qx-panorama--hill" id="qx-panorama--hill-1">
			<div class="qx-panorama--tipi"></div>
			<div class="qx-panorama--katharina-chris"></div>
			<div class="qx-panorama--sign"></div>
			<div class="qx-panorama--tree" id="qx-panorama--tree-1"></div>
		</div>
		<div class="qx-panorama--hill" id="qx-panorama--hill-2">
			<div class="qx-panorama--tree" id="qx-panorama--tree-2"></div>
			<div class="qx-panorama--tree" id="qx-panorama--tree-3"></div>
		</div>
	</div>

</f:section>